---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom Fonts
{% if site.data.style.fonts %}
  {% for font in site.data.style.fonts %}
    @mixin {{font.for}}-font {
      font-family: "{{ font.name }}", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  {% endfor %}
{% endif %}

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";


// **** Custom

textarea.form-control {
  height: calc(5em + .75rem + 2px);
  transition: height 0.5s;

  &:focus {
    height: calc(15em + .75rem + 2px);
  }
}

body.sirena {
  background-image: url("../img/sirena/fondomar.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;

  background-color: $gray-900;
  color: white;

  header.masthead {
    color: white;
    background-image: url("../img/sirena/header.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
}

body.jumamosi {
  .navbar-brand * {
    display: none;
  }
  .navbar-brand * {
    display: none;
  }
  .navbar-shrink .navbar-brand * {
    display: block;
  }


  header.masthead {
    color: white;
    background-image: url("../img/jumamosi/gallery/escenariovacio.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .posthead {
      backdrop-filter: blur(5px) brightness(40%);
    }
  }

  @media (min-width: 768px) {
    header.masthead {
      // background-color: black;

      .intro-text {
        padding-top: 60px;
        padding-bottom: 50px;
      }
    }
  }
}